@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {    
    margin: 0;
    padding: 0;
    background-image: url(imagen/Fondo.png);
    background-size: cover;
}

.T-Logo {
    color: white;
    display: inline-block;
    text-decoration: none;
}

.Logo {
    float: left;
}

.text{
    font-family: sans-serif;
    background: red;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 50px;
    }

li {
    display: grid;
    justify-content: center;
    align-items: center;
}

.posters {
    background-color: rgba(0, 0, 0, 0.815);
    padding-left: 10px;
    display: flex;
    gap: 10px;
    margin: 10px;
}

.textposters {
    color: white;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background: rgba(117, 113, 113, 0.24);
}  

/* Estilos para pantallas*/
@media screen and (max-width: 965px){
    .T-Logo {
        color: white;
        display: inline-block;
    }
    
    .Logo {
        float: left;
    }
    
    .text{
        font-family: sans-serif;
        background: red;
        font-size: 16px;
        color: white;
    }
    
    ul {
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: 50px;
        }
    
    li {
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }
    
    .posters {
        background-color: rgba(0, 0, 0, 0.815);
        padding-left: 10px;
        display: flex;
    }
    
    .textposters {
        color: white;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        background: rgba(117, 113, 113, 0.24);
    }
}

@media screen and (min-width: 966px) and (max-width: 1280px){
    .T-Logo {
        color: white;
        display: inline-block;
    }
    
    .Logo {
        float: left;
    }
    
    .text{
        font-family: sans-serif;
        background: red;
        font-size: 16px;
        color: white;
    }
    
    ul {
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: 50px;
        }
    
    li {
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }
    
    .posters {
        background-color: rgba(0, 0, 0, 0.815);
        padding-left: 10px;
        display: flex;
    }
    
    .textposters {
        color: white;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        background: rgba(117, 113, 113, 0.24);
    }
}

/* Estilos para pantallas*/
@media screen and (min-width: 375px) and (max-width: 667px){
    .T-Logo {
        color: white;
        display: inline-block;
    }
    
    .Logo {
        float: left;
    }

    .img2 {
        width:  100px;
    }

    .img1 {
        width:  120px;
        height: 400px;
    }
    
    .text{
        display: flex;
        font-family: sans-serif;
        background: red;
        font-size: 12px;
        color: white;
        text-decoration: none;
        padding: 4px;
    }
    
    ul {
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: 50px;
        }
    
    li {
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }
    
    .posters {
        background-color: rgba(0, 0, 0, 0.815);
        padding-left: 1px;
        display: flex;
    }
    
    .textposters {
        color: white;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        background: rgba(117, 113, 113, 0.24);
    }
}